*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --navHeight:1.7rem;
    --toolbarHeight:3rem;
    --statusbarHeight:2rem;
}
html,body{
    height: 100%;
    width: 100%;
    background:black;
    overflow: hidden;
}
/* canvas styling css */
#canvas{
    position: fixed;
    top:calc(var(--navHeight) + var(--toolbarHeight));
    left: 50%;
    transform: translate(-50%,0%);
    height: calc(100vh - (var(--navHeight) + var(--statusbarHeight) + var(--toolbarHeight) ));
    width:100vw;
    background: #fff;
    border: 5px solid slateblue;
}
/* navbar css */
#navbar{
    width: 100%;
    height:var(--navHeight);
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo
{
    font-family: monospace,Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}
.logo span{
    font-family: cursive,Arial, Helvetica, sans-serif;
    color: slateblue;
    font-weight: 800;
    font-size: 1.5rem;
}
.menu{
    list-style: none;
    display: flex;
    gap: 0.5em;
}
#bucketBtn.btn.active,
.btn{
    background: slateblue;
    border: none;
    height: 40px;
    width: 100px;
    color: white;
}
#bucketBtn.btn,
.btn:disabled{
    background: rgb(164, 164, 165);
}

#strokeSize[type="number"]::-webkit-inner-spin-button,
#strokeSize[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
#strokeSize{
    width: 40px;
    height:40px;
    font-size: 1.1rem;
    text-align: center;
    background: white;
    color: black; 
    border: none;
}
#strokeColor{
    height: 40px;
    width: 40px;
}
/* toolbar section css */
#toolbar{
    background-color: #888;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: var(--toolbarHeight);
}
/* statusbar css */
#statusbar{
    position: fixed;
    bottom: 0;
    left: 0;
    height: var(--statusbarHeight);
    width: 100%;
    background: #888;
    color: rgb(29, 14, 128);
    text-align: center;
}
